{
  "presets": [
    "@vue/cli-plugin-babel/preset",
    "minify"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@styles": "./src/styles",
          "@assets": "./src/assets",
          "@interfaces": "./src/interfaces",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
