.institutional-text {
  width: 100%;
}

@include mq-desktop-regular {
  .institutional-text {
    .main {
      &__title {
        width: 100%;
        height: auto;
        font-family: $default-font;
        font-size: 28px;
        line-height: 19px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
      }

      &__sub-title {
        width: 100%;
        height: auto;
        font-family: $default-font;
        font-size: 20px;
        line-height: 19px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
      }
    }

    &__wrapper {
      width: 45%;
      height: auto;
      flex-direction: column;
      align-items: center;
      margin: 30px auto 0;

      &:first-child {
        margin: 0 auto 0;
      }
    }

    strong {
      font-weight: 700;
    }

    p {
      width: 100%;
      height: auto;
      font-family: $default-font;
      font-size: 15px;
      line-height: 19px;
      font-weight: 400;
      text-decoration: none;
      text-align: justify;
      margin: 10px 0 0;
    }
  }
}
